*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Остальной код */
body {
  font-family: Roboto, sans-serif;
  background: #eee9e9;
}
.container {
  width: 1200px;
  margin: auto;
  padding: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.h2-title {
}
/* ----header---- */
.header {
}
.header-logo {
  display: flex;
  justify-content: flex-start;
}
.header-title {
  font-family: Abril Fatface;
  font-weight: 200;
  font-size: 34px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #615e5e;
}
.header-list {
  justify-content: center;
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #212121;
}
.header-link:hover,
.header-link:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #6f5f9c;
}
.header-item {
}
.header-tel {
}
/* ----present page--- */
.present-page {
  background: #d7b0b0;
}
.p-present-page {
}
/* ------ about me--- */
.about-me {
}
.about-me-btn {
  background: #d7b0b0;
  font-family: inherit;
}
/* ---individual skill--- */
.indskill {
  background: #d7b0b0;
}
.indskill-list {
}
.indskill-item {
}
/* --servies and price-- */
.servies-price {
}
.servies-price-list {
}
.servies-price-item {
}
/* ----gallery--- */
.gallery {
  background: #d7b0b0;
}
.gallery-list {
}
.gallery-item {
}
/* ---cosmetics--- */
.cosmetics {
}
.cosmetics-list {
}
.cosmetics-item {
}
/* ----footer----- */
.footer {
  background: #d7b0b0;
}
.footer-socialnetwork {
}
.socialnetwork-list-item {
}
.footer-main {
}
.footer-main-list {
}
.footer-main-item {
}
.footer-logo {
}
.footer-link,
.address-link-tel,
.address-link-post,
.address-link-map {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #212121;
}
.footer-link:hover,
.footer-link:focus,
.address-link-tel:hover,
.address-link-tel:focus,
.address-link-post:hover,
.address-link-post:focus,
.address-link-map:hover,
.address-link-map:focus {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.02em;
  color: #6f5f9c;
}
.address {
  font-style: normal;
}
.address-list {
}
.address-item {
}
