body {
  font-family: Roboto, sans-serif;
  color: var(--textcolor2);
  background-color: var(--bgcolor1);
  margin: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
  display: block;
}
